@font-face {
  font-family: 'NanumSquareRoundL';
  font-style: normal;
  font-weight: 100;
  src: url('./NanumSquareRoundL.tff') format('tff');
}

@font-face {
  font-family: 'NanumSquareRoundB';
  font-style: normal;
  font-weight: 100;
  src: url('./NanumSquareRoundB.tff') format('tff');
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  font-style: normal;
  font-weight: 100;
  src: url('./NanumSquareRoundEB.tff') format('tff');
}
